.maincontent .row .col-12 .panel .title h2{
    font-size: 24px;
    color:#7c879c;
    padding-top:15px;
    padding-bottom: 15px;
    text-align: center;
}
.maincontent .row .col-12 .panel .content{
    height: 160px;
    border-top:solid 1px #cbcbcb;
    border-bottom:solid 1px #cbcbcb;
}
.maincontent .row .col-12 .panel .content .form-group{
    height: 40px;
    margin-top:30px;

}
.maincontent .row .col-12 .panel .content .form-group .title{
    height: 40px;
    line-height: 40px;
    text-align: right;
    font-weight: bold;
    color:#56708b;
    white-space: nowrap;
}
.maincontent .row .col-12 .panel .content .form-group .form-control {
    height: 40px;
    outline: none;
}
.maincontent .row .col-12 .panel .content .form-group .form-btn{
    margin-left:26%;
}
.maincontent .row .col-12 .panel .content .form-group .form-btn input{
    width: 60px;
    height: 35px;
    border:solid 1px #398439;
    border-radius: 10%;
    color:white;
    background: #afafaf;
}
.maincontent .row .col-12 .panel .content .form-group .form-btn input:not(.btn-1){
    background: #337ab7;
    border: solid 1px #204d74;
}
.maincontent .row .col-12 .panel .content .form-group .form-btn input:hover {
    background: #0aa080;
    cursor: pointer;
}
.maincontent .row .col-12 .panel .content .form-group .form-btn input:not(.btn-1):hover{
    background:#286090;
}
.maincontent .row .col-12 .panel .content .form-group .editor{
    margin-left:25%;
}
.maincontent .row .col-12 .panel .content .form-group .editor #editor{
    width: 650px;
    height: 200px;
}

