.maincontent .row .col-12 .panel .title h2{
    font-size: 24px;
    color:#7c879c;
    padding-top:15px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: bold;
}
.maincontent .row .col-12 .panel .content{
    height: 160px;
    border-top:solid 1px #cbcbcb;
    border-bottom:solid 1px #cbcbcb;
}
.maincontent .row .col-12 .panel .content .form-group{
    height: 40px;
    margin-top:30px;

}
.maincontent .row .col-12 .panel .content .form-group .title{
    height: 40px;
    line-height: 40px;
    text-align: right;
    font-weight: bold;
    color:#56708b;
    white-space: nowrap;
}

.maincontent .row .col-12 .panel .content .form-group .form-control {
    height: 40px;
    color:black !important;
    border: 1px solid black !important;
    outline: none;
}
.maincontent .row .col-12 .panel .content .form-group .form-btn{
    margin-left:26%;
}
.maincontent .row .col-12 .panel .content .form-group .form-btn input{
    width: 60px;
    height: 35px;
    border:solid 1px #398439;
    border-radius: 10%;
    color:white;
    background: #afafaf;
}
.maincontent .row .col-12 .panel .content .form-group .form-btn input:not(.btn-1){
    background: #337ab7;
    border: solid 1px #204d74;
}
.maincontent .row .col-12 .panel .content .form-group .form-btn input:hover {
    background: #0aa080;
    cursor: pointer;
}
.maincontent .row .col-12 .panel .content .form-group .form-btn input:not(.btn-1):hover{
    background:#286090;
}
.maincontent .row .col-12 .panel .content .form-group .editor{
    margin-left:25%;
}
.maincontent .row .col-12 .panel .content .form-group .editor #editor{
    width: 650px;
    height: 200px;
}
.main header{
    overflow: visible;
}
.nav-welcome{
    position: relative;
}
.nav-welcome ul{
    width: 100px;
    height: 100px;
    background-color: #59f0ea;
    list-style: none;
    border: solid 1px white;
    display: none;
    position: absolute;
}
.nav-welcome ul li{
    width: 100%;
    color:black;
    height: 48px;
    border-bottom: dashed 1px white;
    text-align: center;
    line-height: 40px;
}
.nav-welcome ul li:hover{
    background-color: #deacf0;
}
.nav-welcome:hover ul{
    display: block;
}

