.loginform .panel{
    height: 540px;
}
.loginform .panel .formcontrol.movetext{
	height: 150px;
}
.loginform .panel .formcontrol.movetext input{
	margin-top:90px;
}
.loginform .panel .panel-input-password{
    margin-top:50px;
}
.loginform .panel .formcontrol{
	margin-top:10px;
}
.loginform .panel .formcontrol > span{
    display: block;
    height: 30px;
    margin-top:15px;
    font-size: 14px;
}
.loginform .panel .formcontrol.movetext input:focus+label,.loginform .panel .formcontrol.movetext input:valid+label{
    top:65px;
    font-size: 14px;
}
.loginform .panel .formcontrol.movetext label{
     top:80px;
}
