*{
    margin: 0;
    padding: 0;
    list-style: none;
}
#alert{
    position: absolute;
    left:40%;
    top:0;
    z-index: 999;
}
.alert{
    height: 50px;
    margin-top: 15px;

}
.hidden{
    display: none;
}

body{
    background-image: url("../../image/msg-borad-bg.png");
    background-size: cover;
    /*-ms-overflow-style: none;
    overflow:-moz-scrollbars-none;
    overflow-y: hidden;*/
}
/*body::-webkit-scrollbar{
    width: 0 !important;
}*/

.page-header{
    border-bottom: solid 2px white;
}
#myself,#back{
    margin-top: 50px;
}


/*msgCon begin*/
.msgCon {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.msgCon ul{
    margin:0;
    padding: 0;
    list-style: none;
}
.msgCon .msgBox {
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 16px;
    border-radius: 4px;
}
.msgCon .msgBox .headUrl {
    width: 100%;
    height: 60px;
    border-bottom: 1px dotted #ddd;
    display: flex;
    align-items: center;
}
.msgCon .msgBox .headUrl img {
    width: 48px;
    height: 48px;
    border-radius: 50%
}
.msgCon .msgBox .headUrl div {
    flex: 1;
    display: flex;
    flex-flow: column;
    font-size: 16px;
    margin-left: 16px;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
}
.msgCon .msgBox .headUrl div .time {
    font-size: 14px;
    margin-top: 6px;
    -webkit-background-clip: text;
  /*  color: transparent;*/
    font-weight: bold;
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}
.msgCon .msgBox .headUrl a {
    font-size: 14px;
    padding: 10px;
    color: salmon;
    cursor: pointer;
}
.msgCon .msgBox .msgTxt {
    font-size: 14px;
    color: #666;
    min-height: 40px;
    line-height: 24px;
    padding: 10px;
    box-sizing: border-box;
    word-wrap: break-word;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #778899 0%, #333 100%);
}
.msgCon .msgBox .msgFooter span{
    color:#337ab7;
    margin-right:130px;
}
.msgCon .msgBox .msgFooter span:nth-of-type(1){
    margin-left:10px;
}
.msgCon .msgBox .msgFooter span.thumbs_up:hover{
    cursor: pointer;
    color:#67ca3a;
    font-weight: bold;
}
.msgCon .msgBox .msgFooter span.thumbs_down:hover{
    cursor: pointer;
    color:red;
    font-weight: bold;
}

.smart-green {
     margin-top:15px;
     margin-left:auto;
     margin-right:auto;
     max-width: 560px;
     background: #F8F8F8;
     padding: 20px 30px 10px 30px;
     font: 12px Arial, Helvetica, sans-serif;
     color: #666;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
 }
.smart-green h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 20px 0px 20px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background: #9DC45F;
    text-shadow: 1px 1px 1px #949494;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-bottom:1px solid #89AF4C;
}
.smart-green h1>span {
    display: block;
    font-size: 11px;
    color: #FFF;
}
.smart-green label {
    display: block;
    margin: 0 0 5px;
}
.smart-green label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.smart-green input[type="text"], .smart-green input[type="email"], .smart-green textarea, .smart-green select {
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}
.smart-green .button {
    background-color: #9DC45F;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
}
.smart-green .reset{
    background-color: #F56C6C;
}
.smart-green .button:hover {
    background-color: #80a239;
}
#begin, #end, #prev, #next{
    cursor: pointer;
}
.page-hover{
    cursor: pointer;
}