.right ul,li{
    margin:0;
    padding: 0;
    list-style: none;
}
.right .book-new-state{
    height: 120px;
    border:solid 1px #eae9e9;
}
.right .book-new-state span{
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin:10px 0 0 15px;

}
.right .book-new-state ul li{
    margin:2px 0 0 25px;
}
.right .book-new-state ul li a:hover{
    color:red;
    font-weight: bold;
}
.right .book-new-state a{
    font-size: 14px;
    color:black;
    text-decoration: none;
}


.right .book-presell{
    position: relative;
    margin-top:10px;
    height: 192px;
    border:solid 1px #eae9e9;
}
right .book-presell ul,p{
    margin:0;
    padding: 0;
}
.right .book-presell .book-right-title span{
    display: block;
    font-size: 18px;
    color: #714f4f;
    font-weight: bold;
    margin:10px 0 0 15px;
}

.right .book-presell .book-presell-body{
    margin:10px 0 0 10px;
}

.right .book-presell .book-presell-body ul{
    height: 90px;
}
.right .book-presell .book-presell-body a{
    text-decoration: none;
    color:black;
}
.right .book-presell .book-presell-body ul li .book-img{
    width:90px;
    height: 90px;
    float: left;
}
.right .book-presell .book-presell-body ul li a img{
    width:90px;
    height: 90px;
}
.right .book-presell .book-presell-body ul li .book-roll-aa{
    width:90px;
    height: 90px;
    margin-top:10px;
    margin-left:5px;
    float: left;
}
.right .book-presell .book-presell-body ul li .book-roll-aa p{
    font-size: 14px;
}
.right .book-presell .book-presell-body ul li .book-roll-aa .author{
    display: block;
    height: 36px;
    overflow: hidden;
    text-overflow:ellipsis;
}

.right .book-presell .book-presell-body ul li .book-roll-aa .n-price{
    font-weight: bold;
    color:red;
}
.right .book-presell .book-presell-body ul li .book-roll-aa .f-price{
    color: #cdcdcd;
    text-decoration: line-through;
}
.right .book-presell .book-presell-body .bottom-dot{
    height: 48px;
    margin-top:15px;
    margin-left:50px;
}
.right .book-presell .book-presell-body .bottom-dot .dot{
    display: block;
    float: left;
    height: 20px;
    width:12px;
    background:url("http://img4.ddimg.cn/00363/book_index/diandian_bg2.png") 0 -20px no-repeat;
    margin-right:10px;
    cursor: pointer;
}
.right .book-presell .book-presell-body .bottom-dot .act{
    background:url("http://img4.ddimg.cn/00363/book_index/diandian_bg2.png") 0 0 no-repeat;     
} 
.right .book-presell .book-presell-body .presell-prev,.presell-next{
    width: 20px;
    height: 50px;
    cursor: pointer;
    z-index: 999;
    top:180px;
    opacity: 0.5;
    position: absolute;
    top:58px;
    left:0;
}
.right .book-presell .book-presell-body .presell-prev{
    background:url("http://img4.ddimg.cn/00363/book_index/book_fanye_btn.png") 0 0 no-repeat;
}
.right .book-presell .book-presell-body .presell-next{
    background:url("http://img4.ddimg.cn/00363/book_index/book_fanye_btn.png") -26px 0 no-repeat;
    left:180px;
}
.right .book-presell .book-presell-body .presell-prev:hover{
    opacity: 1;
}
.right .book-presell .book-presell-body .presell-next:hover{
    opacity: 1;
}

.right .book-new{
    height: 430px;
    border:solid 1px #eae9e9;
    margin-top:10px;
}
.right p,ul,li{
    margin:0;
    padding:0;
    list-style: none;
}
.right .book-new .book-new-title{
    height: 40px;
    line-height: 40px;
    margin-left:20px;
}
.right .book-new .book-new-title span{
    color:red;
    font-size:20px;
    font-weight: bold;
}

.right .book-new .tab-box-aa{
    height: 30px;
    border-top:solid 1px #eae9e9;
    
}
.right .book-new .tab-box-aa ul .num{
    font-size: 14px;
    display: block;
    height: 30px;
    width:38px;
    line-height: 30px;
    float: left;
    border-left:solid 1px #eae9e9;
    border-bottom: solid 1px #eae9e9;
    text-align: center;
    cursor: pointer;
   
}
.right .book-new .tab-box-aa ul .num1{
    border-left:none;
    border-bottom:none;
    border-top:solid 2px red;
    color:red;
    font-weight: bold;
}
.right .book-new .tab-box-aa ul .num5{
    width: 42px;
}


.right .book-new .tab-content-aa{
    position: relative;
}
.right .book-new .tab-content-aa ul,li,p{
    margin:0;
    padding:0;
    list-style: none;
}
.right .book-new .tab-content-aa ul li:first-of-type{
   margin:0;
} 
.right .book-new .tab-content-aa .list-1,.tab-img,.tab-cot,.tot1{
    float: left;
}
.right .book-new .tab-content-aa .tab-img{
    width: 90px;
    height: 90px;
    background:url("../../image/book_new_01.jpg") no-repeat 0 0/90px 90px;
}
.right .book-new .tab-content-aa .tab-cot p{
    font-size:14px;
}
.right .book-new .tab-content-aa .tab-cot .author{
    display: block;
    width: 90px;
    height: 30px;
    overflow: hidden;
    font-size:12px;
}
.right .book-new .tab-content-aa ul li{
    display: block;
    padding:9px 3px 9px 3px;
    border-bottom: solid 1px #eae9e9;
    overflow: hidden;
    cursor: pointer;
}
.right .book-new .tab-content-aa ul li span:first-of-type{
    font-size: 18px;
    color:red;
}
.right .book-new .tab-content-aa .tab-cot .price-1{
    font-weight: bold;
    color:red;
}
.right .book-new .tab-content-aa .tab-cot .price-2{
    color: #cdcdcd;
    text-decoration: line-through;
}
.right .book-new .tab-content-aa .tab-cot .comment{
    color:rgb(92, 91, 91);
}

.right .book-new .tab-content-aa ul li span,.list-message{
    float: left;
}
.right .book-new .tab-content-aa ul li .list-message{
    display: block;
    width:150px;
    height: 20px;
    margin-left:20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.right .book-new .tab-content-aa ul li .tot1{
    font-size:12px;
    color:red;
}
.right .book-new .tab-content-aa ul li .tot2{
    font-size:30px;
    color:rgb(151, 8, 8);
}
.right .book-new .tab-content-aa ul li .tot3{
    font-size:45px;
    color:rgb(104, 14, 14);
}
.right .book-new .tab-content-aa ul li .list-message:hover{
    color:red;
}
.right .book-new .tab-content-aa .t-list{
    text-decoration: none;
    display: block;
    height: 30px;
    line-height:30px;
    font-size: 16px;
    text-align: right;
    color:rgb(192, 192, 196);
    cursor: pointer;

}
.right .book-new .tab-content-aa .t-list:hover{
    color:rgb(131, 131, 131);
}




